<div class="container mt-3">
  <div class="row">
    <div class="col">

      <p><LinkTo @route="index" @tagName="button" class="btn btn-secondary">&larr; Back</LinkTo></p>

      <EmployeeUpdater @flavour="edit" @employee={{model}} @title="Edit employee" @buttonText="Update" />

    </div>
  </div>
</div>